<link rel="stylesheet" href="style.css">
<script src="https://use.fontawesome.com/eb0a505a04.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
  <% results.each do |classes| %>
    <ul>
      <% classes.each do |students| %>
        <li>
          <%= students %>
        </li>
      <%end%>
    </ul>
  <%end%>
</body>