<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <title>mca scheduler</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    } );
  </script>
</head>
<body>
  <div class="selection-parent">
    <center>
      <form action="list" method="post" >
        <div class="name-content">
          Name: <input type="text" name="first" required>
          Middle Initial: <input type="text" name="middle" maxlength="1" size="1" style="text-align: center">
          Last Name: <input type="text" name="last" required>
        </div>
        <div class="text-content">
          <p>Drag and drop your desired class choice from Most Wanted to Least Wanted:</p>
          </div>
        <ul id="sortable">
          <li class="column">
            History <input type="hidden" name="classes[1]" value="class1">
          </li>
          <li class="column">
            Geography <input type="hidden" name="classes[2]" value="class2">
          </li>
          <li class="column">
            Programming <input type="hidden" name="classes[3]" value="class3">
          </li>
          <li class="column">
            Calculus <input type="hidden" name="classes[4]" value="class4">
          </li>
          <li class="column">
            Super Long Class Name <input type="hidden" name="classes[5]" value="class5">
          </li>
          <li class="column">
            Shop<input type="hidden" name="classes[6]" value="class6">
          </li>
          <li class="column">
            Physics <input type="hidden" name="classes[7]" value="class7">
          </li>
        </ul>
        <button class="selection-submit">submit</button>
      </form>
    </center>
  </div>
</body>
</html>