<link rel="stylesheet" href="style.css">
<script src="https://use.fontawesome.com/eb0a505a04.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {

   $(function(){

      $("#sortable").sortable();
      $("#sortable").disableSelection();
    });

  $("#cm").hide();
  $("#right2").hide();
  $("#nsub").hide();
  $("#picker").hide();

  $("#moving").click(function(event){

    event.preventDefault();
    $(".logo").hide();
    $("#right1").hide();
    $("#right2").show();
    $("#moving").hide();  
    $("#nsub").show();
  });

  $("#show-schedule").click(function(event){

    $("#name-schedule").hide();
    $("#picker").show();
  }); 

  $("#teacherp").click(function(event){

    $("#left").hide();
    $(".logo").hide();
    $("#cm").show();
    $("#teacherp").hide();
  });

  index = 0;

  $("#new-item").click(function(event){
    index += 1;
    $("#new-classes").append('Class ' + index + ':<input maxlength="21" size="21" type="text" name=classes[' + index + ']> Limit: <input maxlength="2" size="2" type="text" name=limit[' + index + ']><br>');
  });

  $("#class-submut").click(function() {
    $("#new-classes").submit();
  });
});
</script>
<section class="split-pane">
  <div class="right" id="cm">
    <div class="text-content">
      <p>Enter the name of the class and its student limit.</p>
      <p>Click 'New Class' to add a new class.</p>
      <form id="new-classes" action="teacher" method="post">
      </form>
    </div>
    <button type="button" id="new-item">New Class</button><br>
    <button id="class-submut">Submit</button>
  </div>
  <div class="left" id="left"><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true" style="color:white"></i>
    <div class="text-content">
      <p class="big">Students</p>
    </div>
    <button id="moving">Select your classes</button>
  </div>
  <div class="right" id="right1"><i class="fa fa-map-o fa-5x" aria-hidden="true" style="color:white"></i>
    <div class="text-content">
      <p class="big">Teachers</p>
    </div>
    <form action="teacher" type="student">
    <button id="teacherp" type="button">View Schedules</button>
    </form>
  </div>
  <div class="left" id="right2">
    <form action="list" method="post" >
      <div class="name-content" id="name-schedule">
        First: <input type="text" name="first" maxlength="10" size="10" required>
        Middle: <input type="text" name="middle" maxlength="1" size="1" style="text-align: center">
        Last: <input type="text" name="last" required><br>
        <button type="button" class="selection-submit" id="show-schedule">Show me the class list</button>
      </div>
      <div id="picker">
        <div class="text-content">
          <p>Drag and drop your desired class choice from</p>
          <p>Most Wanted to Least Wanted:</p>
        </div>
        <ul id="sortable">
         <!--  <li class="column">
            History <input type="hidden" name="classes[1]" value="class1">
          </li>
          <li class="column">
            Geography <input type="hidden" name="classes[2]" value="class2">
          </li>
          <li class="column">
            Programming <input type="hidden" name="classes[3]" value="class3">
          </li>
          <li class="column">
            Calculus <input type="hidden" name="classes[4]" value="class4">
          </li>
          <li class="column">
            Super Long Class Name <input type="hidden" name="classes[5]" value="class5">
          </li>
          <li class="column">
            Shop<input type="hidden" name="classes[6]" value="class6">
          </li>
          <li class="column">
            Physics <input type="hidden" name="classes[7]" value="class7">
          </li> -->
          <%classes.each_with_index do |classn, index|%>
          <li class="column">
          <%=classn.upcase%><input type="hidden" name=<%= "classes[#{index}]"%> value=<%= "#{classn}"%>>
          </li>
          <%end%>
          <button class="selection-submit">submit</button>
        </ul>
      </div>
    </form>
  </div>
  <div class="logo" id="star"> <img src="middle.png"/></div>
</section>