<link rel="stylesheet" href="style.css">
<script src="https://use.fontawesome.com/eb0a505a04.js"></script>
<section class="split-pane">
  <div class="left"><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true" style="color:white"></i>
    <div class="text-content">
      <p class="big">Students</p>
    </div>
    <form action="student" type="post">
    <button>Select your classes</button>
    </form>
  </div>
  <div class="right"><i class="fa fa-map-o fa-5x" aria-hidden="true" style="color:white"></i>
    <div class="text-content">
      <p class="big">Teachers</p>
    </div>
    <form action="teacher" type="student">
    <button>View Schedules</button>
    </form>
  </div>
  <div class="logo"> <img src="middle.png"/></div>
</section>