<link rel="stylesheet" href="style.css">
<script src="https://use.fontawesome.com/eb0a505a04.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="left">
  <div class="text-content">
    <i class="fa fa-check fa-5x" aria-hidden="true"></i>
    <p class="big">Thank you!</p>
    <p>Your choices have been submitted</p>
  </div>
</div>