#sortable { 

  display: flex; 
  flex-direction: column; 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: 60%; 
}

#sortable li {

  margin: 0 3px 3px 3px; 
  padding: 0.4em; 
  padding-left: 1.5em; 
  font-size: 1.4em; 
  height: 30px; 
  line-height: 30px; 
}

.column {

  display: table-cell;
  vertical-align: middle;
  height: 75px;
  width: 500px;
  float: left;
  border: 2px solid #e0e0e0;
  background-color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: move;
}